<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo">

    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- If you want to disable android.startup completely. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>

        <service
            android:name=".syscomponent.UploadService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name=".syscomponent.RecentSearchProvider"
            android:authorities="@string/recentSearchProvider"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".syscomponent.SearchOtherActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".syscomponent.SearchableActivity" />
        </activity>
        <activity
            android:name=".syscomponent.SearchableActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".syscomponent.MyProvider"
            android:authorities="com.demo.syscomponent.myprovider"
            android:enabled="true"
            android:permission="com.demo.syscomponent"
            android:process=":provider" />

        <activity
            android:name=".appbar.ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".base.BaseActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".logger.LoggerActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".customview.ryg.ViewDispatchDemoActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".animator.AnimatorActivity" />
        <activity android:name=".customview.activity.SlideConflictDemoActivity" />
        <activity android:name=".RecyckerDemoActivity" />
        <activity android:name=".storage.WinkKVDemoActivity" />
        <activity android:name=".apt.AptDemoActivity" />
        <activity android:name=".storage.NewWordActivity" />
        <activity android:name=".storage.RoomActivity" />
        <activity android:name=".wink.WinkActivity" />
        <activity android:name=".widget.activity.ShapeBgActivity" />
        <activity android:name=".widget.activity.ScaleActivity" />
        <activity android:name=".widget.activity.RecyclerViewActivity" />
        <activity
            android:name=".customview.activity.OtherProcessActivity"
            android:process=":sub" />
        <activity android:name=".customview.aige.activity.AigeActivity" />
        <activity android:name=".customview.sloop.activity.CustomSloopMenuActivity" />
        <activity android:name=".customview.activity.CustomMatrixActivity" />
        <activity android:name=".customview.sloop.activity.CustomSloopViewActivity" />
        <activity android:name=".customview.activity.CustomShaderActivity" />
        <activity android:name=".customview.zhy.activity.CustomViewActivity" />
        <activity
            android:name=".customview.activity.ListViewDemoActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".customview.ryg.ViewEventDispatchDemoActivity" />
        <activity
            android:name=".ipc.IPCDemoActivity"
            android:exported="false"
            android:process=":remote" />

        <service
            android:name=".ipc.aidl.MyRemoteAIDLService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".coroutine.BaseService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".ipc.SubPreLoadService"
            android:enabled="true"
            android:exported="false"
            android:process=":sub">
            <intent-filter>
                <action android:name="com.demo.ipc.SubPreLoadService" />
            </intent-filter>
        </service>
        <service
            android:name=".ipc.ashmem.MyAshmemService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.demo.ipc.ashmem.MyAshmemService" />
            </intent-filter>
        </service>
        <service
            android:name=".ipc.messenger.MessengerServer"
            android:enabled="true"
            android:exported="true"
            android:label="myService">
            <intent-filter>
                <action android:name="android.intent.action.MESSENGER" />
            </intent-filter>
        </service>
        <service
            android:name=".ipc.aidl.MyAIDLService"
            android:enabled="true"
            android:exported="true"
            android:label="MyAIDLService">
            <intent-filter>
                <action android:name="com.demo.ipc.MyAIDLService" />
            </intent-filter>
        </service> <!-- for shadow -->
<!--        <activity-->
<!--            android:name="com.tencent.shadow.sample.runtime.PluginDefaultProxyActivity"-->
<!--            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:launchMode="standard"-->
<!--            android:process=":plugin"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/PluginContainerActivity" />-->
<!--        <activity-->
<!--            android:name="com.tencent.shadow.sample.runtime.PluginSingleInstance1ProxyActivity"-->
<!--            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:launchMode="singleInstance"-->
<!--            android:process=":plugin"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/PluginContainerActivity" />-->
<!--        <activity-->
<!--            android:name="com.tencent.shadow.sample.runtime.PluginSingleTask1ProxyActivity"-->
<!--            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:launchMode="singleTask"-->
<!--            android:process=":plugin"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/PluginContainerActivity" />-->

<!--        <provider-->
<!--            android:name="com.tencent.shadow.core.runtime.container.PluginContainerContentProvider"-->
<!--            android:authorities="${applicationId}.contentprovider.authority.dynamic" />-->

<!--        <service-->
<!--            android:name="com.tencent.shadow.sample.introduce_shadow_lib.MainPluginProcessService"-->
<!--            android:process=":plugin" />-->
    </application>

</manifest>