<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".ipc.ashmem.MyAshmemService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.demo.ipc.ashmem.myashmemservice" />
            </intent-filter>
        </service>

        <service
            android:name=".ipc.messenger.MessengerServer"
            android:enabled="true"
            android:exported="true"
            android:label="myService">
            <intent-filter>
                <action android:name="android.intent.action.MESSENGER" />
            </intent-filter>
        </service>

        <activity
            android:name=".ipc.IPCDemoActivity"
            android:exported="false"
            android:process=":remote" />

        <service
            android:name=".ipc.aidl.MyAIDLService"
            android:enabled="true"
            android:exported="true"
            android:label="myService">
            <intent-filter>
                <action android:name="com.demo.ipc.myservice" />
            </intent-filter>
        </service>

        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".animator.AnimatorActivity" />
        <activity android:name=".customview.activity.SlideConflictDemoActivity" />
        <activity android:name=".RecyckerDemoActivity" />
        <activity android:name=".storage.WinkKVDemoActivity" />
        <activity android:name=".apt.AptDemoActivity" />
        <activity android:name=".storage.NewWordActivity" />
        <activity android:name=".storage.RoomActivity" />
        <activity android:name=".wink.WinkActivity" />
        <activity android:name=".widget.activity.ShapeBgActivity" />
        <activity android:name=".widget.activity.ScaleActivity" />
        <activity android:name=".widget.activity.RecyclerViewActivity" />
        <activity
            android:name=".customview.activity.OtherProcessActivity"
            android:process=":sub" />
        <activity android:name=".customview.aige.activity.AigeActivity" />
        <activity android:name=".customview.sloop.activity.CustomSloopMenuActivity" />
        <activity android:name=".customview.activity.CustomMatrixActivity" />
        <activity android:name=".customview.sloop.activity.CustomSloopViewActivity" />
        <activity android:name=".customview.activity.CustomShaderActivity" />
        <activity android:name=".customview.zhy.activity.CustomViewActivity" />
        <activity
            android:name=".customview.activity.ListViewDemoActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".customview.ryg.ViewEventDispatchDemoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>