<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.wink.storage">

    <application>
        <service
            android:name=".winkkv.multiprocess.WinkKVService"
            android:enabled="true"
            android:exported="true"
            android:label="MyAIDLService">
            <intent-filter>
                <action android:name="com.tencent.wink.storage.winkkv.multiprocess.WinkKVService" />
            </intent-filter>


        </service>
    </application>

</manifest>